<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
  <br>
  <h3>Employee List</h3>
  <br />
  <table border="1">
    <tr>
      <td>Id</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Age</td>
      <td>...</td>
    </tr>
    <tr th:each="emp : ${employees}">
      <td th:text="${emp.id}">id</td>
      <td th:text="${emp.firstName}">first name</td>
      <td th:text="${emp.lastName}">last name</td>
      <td th:text="${emp.age}">age</td>
      <td><a th:href="@{/employee/edit/{id}(id=${emp.id})}">Edit</a>
        <a th:href="@{/employee/delete/{id}(id=${emp.id})}">Delete</a></td>
    </tr>
  </table>
  <br> <a th:href="@{/employee/add}">Add Employee</a> <br>
</div>
</body>
</html>